.users {
  flex: 1;
  width: 100%;
  padding-top: 5em;
  padding-left: 1.5em;
}

.user-name {
  color: rgb(171, 3, 39);
}

.event {
  color: black;
}

.guest-event {
  color: rebeccapurple;
}

.user-event {
  color: rgb(171, 3, 39);
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: white;
}

table {
  width: auto;
  text-align: center;
}

td {
  padding: 10px;
}

.button {
  background-color: rebeccapurple;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 12px; 
  padding: 10px 20px;  
  border: none;        
}

footer {
  flex: 0 30px;
  background-color: gray;
  color: black;
}

footer a {
  float: right;
  color: black;
}
