.playerName {
  color: rgb(171, 3, 39);
  font-size: 1.5em;
  padding: 0.5em;
}

.btn2 {
  background-color: rgb(171, 3, 39);
  color: white;
  border-radius: 12px; 
  padding: 10px 20px;  
  border: none;        
  cursor: pointer; 
}
