.picture-box {
  height: calc(100px + 1em);
  margin-bottom: 1em;
  padding: 0.5em;
  background:rgb(171, 3, 39);
  border-radius: 5px;
}

#picture img {
  width: 100%;
  height: 100%;
}

main {
  color: black;
}
